{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home | {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="content text-center">
            <h2>Manage <b> Journal </b>  <button class="btn btn-success float-right" type="button" onclick="window.location.href='{{ url_for('add') }}';">Add New Entry</button> </h2>
            <table class="table table-hover table-dark mt-3">
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Body</th>
                </tr>
                {% for journal in data.journal %}
                <tr>
                    <td>{{ journal.title }}</td>
                    <td>{{ journal.date }}</td>
                    <td>{{ journal.body }}</td>
                    <td>{{ journal.image }}</td>
                    <td>
                        <a href="/delete/{{journal.id}}"  class="btn btn-danger btn-xs" onclick="return confirm('Are you sure want to delete this entry?')">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>

{% endblock %}